*.qpf
*.qsf
*.bin
*.zip
*.rom
*.fst
*.log
*.hex
*.jpg
*.cdf
*.arc
*.lxt
*.vcd
*.wav
cheat/*.bin
cheat/*.fmt
history
ver/game/*.f
ver/game/*.bin
ver/game/*.jpg
obj_dir
db
incremental_db
cores/*/mister/*
cores/*/neptuno/*
cores/*/sidi/*
cores/*/mc2
cores/*/mcp
macros.f
core.def
jtsim.f
jtsim_vhdl.f
mame.xml
.DS_Store
*.cfg
cores/roadf/ver/game/defmacros.h
cores/roadf/ver/game/filtered.f
cores/roadf/ver/game/game.f
cores/roadf/ver/game/mist.f
cores/roadf/ver/game/waiver
*.f
*.fbak
*.hbak
*.defbak
cores/track/ver/game/waiver
rom/trackfld
cores/track/ver/game/defmacros.h
cores/track/ver/game/test.cpp
