*.arc
*.bin
*.cdf
*.cfg
*.defbak
*.f
*.fbak
*.fst
*.hbak
*.hex
*.jpg
*.log
*.lxt
*.qpf
*.qsf
*.raw
*.rbf_r
*.rom
*.vcd
*.wav
*.zip
*_game_sdram.v
.DS_Store
cheat/*.bin
cheat/*.fmt
core.def
cores/*/mc2
cores/*/mcp
cores/*/mister/*
cores/*/neptuno/*
cores/*/sidi/*
cores/roadf/ver/game/defmacros.h
cores/roadf/ver/game/filtered.f
cores/roadf/ver/game/game.f
cores/roadf/ver/game/mist.f
cores/roadf/ver/game/waiver
cores/track/ver/game/defmacros.h
cores/track/ver/game/test.cpp
cores/track/ver/game/waiver
db
defmacros.h
game_env.F
game_test.v
history
incremental_db
jtsim.f
jtsim_vhdl.f
macros.f
mame.xml
mem_ports.inc
obj_dir
rom/trackfld
test.cpp
ver/game/*.bin
ver/game/*.f
ver/game/*.jpg
video.info